body
{overflow-x:hidden;}

html,
body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 500px;
	background: #222;
	border-bottom: 15px solid #F39C12;
}

#header-logo:hover{
	opacity: 0.5;
	transition: 0.4s;
}

@font-face {
	font-family: 'DKChalk';
	src: url('../fonts/DK Midnight Chalker.otf');
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.mainheader{
	margin: 0px; border: none; padding: 15px;
	background: url('../images/medal.png') no-repeat center, radial-gradient(#222222 0%,#121212 50%);
}

.navbar-inverse .navbar-nav > li > .main-menu {
	color: #DDD7CF;
	text-align: center;
	width: 95px;
	margin: auto;
	border-right: 2px solid #252525;
}
.navbar-inverse .navbar-nav li > .main-menu:hover, .navbar-inverse .navbar-nav li> .main-menu:focus {
	color: white;
	box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.55);
	background: url('../images/arrow-hover.png') top center;
	background-size: 40px 8px;
	background-repeat: no-repeat;
}

.modal-dialog {
	position: relative;
	top: 15%;
}

body.modal-open .blur-container, body.modal-open .affix,body.modal-open .side-container1,body.modal-open .side-container2{
	-webkit-filter: blur(4px);
	-moz-filter: blur(4px);
	-o-filter: blur(4px);
	-ms-filter: blur(4px);
	filter: blur(4px);
}

.btn-rd-more
{
	color:white;
	border: 1px solid #122b40;
	background: #286090;
	border-radius: 8px !important;
	width: 220px;
	font-size: 15px;
}

.btn-rd-more:hover, .btn-rd-more:focus
{
	background: #F39C12;
	color: white;
	transition: 0.4s;
	border: 1px solid #c17e14;
}

.btn-rd-more-inverse
{
	color: white;
	border: 1px solid #122b40;
	background: #286090;
	border-radius: 8px !important;
	width: 220px;
	font-size: 15px;
}

.btn-rd-more-inverse:hover, .btn-rd-more-inverse:focus
{
	background: white;
	transition: 0.4s;
	color:#f29b32;
	border: 1px solid #c17e14;
}

#unq-btn1 a.btn, #unq-btn2 a.btn
{
	margin: 8px auto; color: white; border-radius:15px; padding: 5px; width: 100px; text-align: center;
}

#unq-btn1:hover > *, #unq-btn1 > *:focus
{
	color: white;
	border-color: #398439;
	background: #449d44;
	transition: 0.3s;
}

#unq-btn2:hover > *, #unq-btn2 > *:focus
{
	color: white;
	border-color: #204d74;
	background: #286090;
	transition: 0.3s;
}

.affix {
	top: 0;
	width: 100%;
	z-index: 200;
	opacity: 0.85;
	transition-timing-function: ease-out;
	transition: 0.5s;
}

.affix + .container {
	padding-top: 50px;
}

.affix:hover{
	opacity: 1;
	transition: 0.5s;
}



.carousel-fade .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}

.carousel{
	height:640px;
	padding: 20px;
	background: transparent;
	overflow: hidden;
	box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.55);
	/**background: repeating-linear-gradient(45deg,#DBDBDB,#DBDBDB 2px,#F0F0F0 2px,#F0F0F0 4px);"*/
}

.carousel-control.right, .carousel-control.left{
	background-image: none;
	filter: none;
}

.item img{
	border-radius: 15px;
	height:600px !important;
	width:auto;
	margin: auto;
	border: 15px solid #333;
}

@media screen and (max-width: 500px)
{
	.hidden-xxs{
		display: none !important;
	}
}

@media screen and (max-width: 1000px) {
	.event-cont
	{
		width: 80% !important;
	}
	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-inverse .navbar-nav > li > .main-menu
	{
		width: auto;
		margin: auto;
		border: none;
	}
	.collapse.in{
		display:block !important;
	}
	.hidden-block-separator{
		display: none !important;
	}
	.footwrap-col-2
	{
		display: none !important;
	}
	.footwrap-col-1
	{
		width: 50%!important;
	}
	.footwrap-col-3
	{
		width: 50%!important;
	}
	.contact-container
	{
		width:100% !important;
		height: 95% !important;
		margin: 0 !important;
		float: none !important;
	}
	.side-panel
	{
		float: none !important;
		position: relative !important;
		width: auto !important;
		margin-bottom: 30px!important;
		text-align: center !important;
	}
}

@media screen and (max-width: 768px){
	.mainheader{
		text-align: center;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-inverse .navbar-nav > li > .main-menu
	{
		width: auto;
		margin: auto;
	}
	.carousel
	{
		width:auto;
		height: 340px;
	}
	.item img
	{
		height: 300px !important;
		width:auto;
	}
	.box-1, .box-2
	{
		height: 200px !important;
		padding: 20px 0 40px 0 !important;
	}
	.page-headline
	{
		height: 130px !important;
	}
	.footwrap-col-2
	{
		display: none !important;
	}
	.footwrap-col-1
	{
		display: none !important;
	}
	.footwrap-col-3
	{
		width: 100%!important;
	}
	.contact-container
	{
		padding: 10px !important;
		height: auto !important;
	}
}


.box-1{
	color: white;
	padding: 30px 0 40px 0;
	height:240px;
	background: #CB4335;
	text-align:right;
	box-shadow: inset -19px 0 39px -20px #073155;
	z-index: 5;
}

.box-2{
	color: white;
	padding: 30px 0 40px 0;
	height:240px;
	background: #2980B9;
	text-align:left;
	z-index: 4;
}

.page-headline
{
	height: 190px;
	margin: 0 40px 0 40px;
	transition: all 0.5s ease;
}

.box-1:hover > .page-headline, .box-2:hover >  .page-headline
{
	transform: scaleY(0.8333333333333333);
}

.box-1:hover, .box-2:hover, .box-1:hover > .box-footer-1
{
	transition-timing-function: ease-out;
	transform: scaleY(1.2);
	box-shadow: 6px 3px 25px -4px rgba(0,0,0,0.75);
	transition: 0.5s
}

.box-footer-1{
	height: 35px;
	width: 100%;
	background: repeating-linear-gradient(45deg,#CB4335,#CB4335 2px,#A2372C 2px,#A2372C 4px);
	box-shadow: inset -19px 0 39px -20px #073155;
}

.box-footer-2{
	height: 35px;
	width: 100%;
	background: repeating-linear-gradient(45deg,#2980B9,#2980B9 2px,#246A99 2px,#246A99 4px);
}

.btn-transparent{
	background: transparent;
	border: 2px solid white;
	margin: 10px;
	width: 80px;
	padding: 8px;
}

.btn-transparent:hover, .btn-transparent:focus{
	border-color: #F39C12;
	color: #F39C12;
	transition: 0.4s;
}

.box-footer-end{
	width: auto;
	height: 40px;
	background: repeating-linear-gradient(45deg,#DBDBDB,#DBDBDB 2px,#F0F0F0 2px,#F0F0F0 4px);
}

.side-container1
{
	position: absolute;
	height:560px;
	width: 460px;
	left: 50%;
	background: white;
	margin-top: -130px;
	margin-left: -790px;
	box-shadow: 7px 1px 15px 0px rgba(0,0,0,0.4);
	transform: rotate(-5deg);
	background: url('../images/panel-bg.jpg') no-repeat center;
}

.side-container2
{
	position: absolute;
	height:560px;
	width: 460px;
	right: 50%;
	background: white;
	margin-top: -130px;
	margin-right: -790px;
	box-shadow: -7px 1px 15px 0px rgba(0,0,0,0.4);
	transform: rotate(5deg);
	background: url('../images/panel-bg.jpg') no-repeat center;
}

.footwrap-col-1
{
	width: 35%;
	height: 100%;
	display: inline-block;
	margin: 0;
	float: left;
}

.footwrap-col-2
{
	width:30%;
	height: 100%;
	background: #444;
	display: inline-block;
	margin: 0;
	float: left;
}

.footwrap-col-3
{
	width: 35%;
	height: 100%;
	display: inline-block;
	margin: 0;
	float: left;
}

.foot-row1-col1
{
	width: auto;
	height: 50%;
	background: #333;
}

.foot-row2-col1
{
	width: auto;
	height: 50%;
	background: repeating-linear-gradient(45deg,#333,#333 2px,#242424 2px,#242424 4px);
}

.foot-row1-col3
{
	width: auto;
	height: 50%;
	background: #333;
}

.foot-row2-col3
{
	width: auto;
	height: 50%;
	background: repeating-linear-gradient(45deg,#333,#333 2px,#242424 2px,#242424 4px);
}

.footer-links
{
	text-decoration: none;
	color: white;
}

.footer-links:hover, .footer-links:focus
{
	color: #F39C12;
	text-decoration: none;
}

.fa:hover{
	opacity: 0.7;
	transition: 0.2s;
	color: #f29b32;
}

.event-cont
{
	vertical-align: top;
	height:auto;
	width: 32%;
	padding:20px;
	margin: 5px;
	display:inline-block;
	text-align: center;
	background: #444;
	border-radius: 10px;
}

.container-auto-width
{
	width: 100%;
	height: auto;
	padding: 20px;
	text-align: center;
	margin: auto;
}

.dropdown:hover .dropdown-menu
{
	display: block;
}

.dropdown-menu
{
	border-left: 10px solid #F39C12;
	/* background: #ffae31; */
	background: #EAEAEA;
}

.dropdown-menu li a
{
	margin-top: -10px;
	margin-bottom: -10px;
	padding: 15px;
	color: #333;
	font-weight: bold;
	transition: 0.3s;
}

.dropdown-menu li a:hover
{
	background: #444;
	color:white;
}

.side-panel{
	background: white;
	height: 550px;
	width: 25%;
	float: left;
	border: 1px solid #EC8846;
	text-align: left;
	padding:30px;
	border-radius: 15px;
}

.ref-link
{
	text-decoration: none;
	color: #999;
}

.ref-link:hover, .ref-link:hover span:hover{
	color:#F39C12;
	text-decoration: none;
}

.contact-container
{
	float:left;
	height: auto;
	width: 72%;
	background: white;
	margin: 0 0 0 20px;
	padding: 40px;
	border-radius: 15px;
	border: 1px solid #FFBB4F;
}

.contact-container > .form-group
{
	padding: 20px;
}


.port-image
{
	width: 100%;
}

.gallery_product
{
	margin-top: 30px;
}

.button-nav
{
	padding: 10px;
}

.filter-button
{
	border: 1px solid #888;
	color: #333;
	border-radius: 10px;
	background: #F5B041;
	display: inline-block;
	padding: 10px;
}

.filter-button:focus
{
	background: #E67E22;
	color: #EAEAEA;
}

.filter-button:hover
{
	background: #FFC66B;
	transition: 0.3s;
}